<div class="page-width rich-text with-image">
  <div class="grid">
    <div class="grid__item {% unless section.settings.full_width %} medium-up--two-thirds medium-up--push-one-sixth{% endunless %}">
      {% if section.settings.title != blank %}
        <div class="rich-text__heading--{{ section.settings.text_size }} text-center">
          <h2 class="h3">{{ section.settings.title | escape }}</h2>
        </div>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rich-text__text--{{ section.settings.text_size }} rte-setting text-center">{{ section.settings.text }}</div>
      {% endif %}
    </div>
    <div class="grid__item  medium-up--two-thirds medium-up--push-one-sixth text-center">
    	<img src="{{ section.settings.image | img_url: '800x' }}" />
    </div>
  </div>
</div>


<style>

  #shopify-section-{{ section.id }} img {
    mix-blend-mode: multiply;
  }  
  
</style>

{% schema %}
  {
    "name": "Rich Text w/ Image",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Talk about your brand"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
		"type": "image_picker",
		"id": "image",
		"label": "Image"
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Size",
        "default": "medium",
        "options": [
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Rich Text w/ Image",
        "category": "Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
